button {
  padding: 10px 20px;
  background-color: var(--primary-color); /* Mantém a variável CSS para o botão */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  &:hover {
    background-color: #0056b3; /* Cor HEX direta para o hover (tom mais escuro do azul comum) */
  }
}